site_name: BigSMILES

repo_url: https://github.com/dylanwal/BigSMILES
repo_name: BigSMILES

theme:
  name: material
  logo: img/poly_cloud.png
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.integrate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: light
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: dark
      toggle:
        icon: material/weather-night
        name: Switch to light mode

plugins:
  - search
  - mermaid2
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src]
          selection:
            docstring_style: numpy
          options:
            heading_level: 3
            show_root_heading: true
            show_bases: false
            show_source: false
            docstring_section_style: spacy
            merge_init_into_class: true

nav:
  - Home: index.md
  - Quickstart:
      - Overview: quickstart/overview.md
      - Installation: quickstart/installation.md
      - Lesson 1: quickstart/quickstart.md
  - Tutorials: tutorials/tutorials.md
  - Reference:
      - Overview: reference/overview.md
      - Data Structures:
          - Overview: reference/data_structure/overview.md
          - BigSMILES: reference/data_structure/BigSMILES.md
          - Atom: reference/data_structure/Atom.md
          - Bond: reference/data_structure/Bond.md
          - Branch: reference/data_structure/Branch.md
          - Bond Descriptor: reference/data_structure/Bond_descriptor.md
          - Bond Descriptor Atom: reference/data_structure/Bond_descriptor_atom.md
          - Stochastic Fragment: reference/data_structure/Stochastic_fragment.md
          - Stochastic Object: reference/data_structure/Stochastic_object.md
      - Methods:
          - parse_tree: reference/methods/parse_tree.md
      - Constructor: reference/constructor.md
      - Configuration: reference/configuration.md
  - BigSMILES: bigsmiles/main.md
  - Developers: developers/developers.md
  - Extras:
      - Change Log: extras/change_log.md
      - License: extras/license.md

markdown_extensions:
  - toc:
      baselevel: 1
      toc_depth: 3
      permalink: True
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.superfences:
      # make exceptions to highlighting of code:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid

extra_css:
  - stylesheets/extra.css
  - stylesheets/mkdocstrings.css
