

[data-md-color-scheme="light"] {
    --md-primary-fg-color: #a31f34;
    --md-default-bg-color: #ffffff;
    --md-default-fg-color--light: #000000;
    --md-typeset-a-color: #852525;
    --md-typeset-table-color: #000000;
    --md-typeset-table-color--light: #de818f;
    --md-accent-fg-color: #a31f34;
    --md-code-hl-constant-color: #a31f34;
}

[data-md-color-scheme="dark"] {
  --md-primary-fg-color: #a31f34;
  --md-default-bg-color: #4b4f52;
  --md-default-fg-color--light: #ffffff;
  --md-typeset-color: #ffffff;
  --md-typeset-a-color: #ffffff;
  --md-typeset-mark-color: #a31f34;
  --md-code-bg-color: #7d7d7d;
  --md-typeset-table-color: #ffffff;
  --md-typeset-table-color--light: #913141;
  --md-code-fg-color:  #ffffff;
  --md-code-bg-color: #2B2B2B;
  --md-accent-fg-color: #d66f80;
  --md-code-hl-name-color: #ffffff;
  --md-code-hl-operator-color: #ffffff;
  --md-code-hl-punctuation-color: #ffffff;
  --md-code-hl-constant-color: #7c9bf7;
  --md-code-hl-string-color: #73c261;
  --md-code-hl-function-color: #ffffff;
  --md-code-hl-comment-color: #919191;
  --md-code-hl-variable-color: #ffffff;
  --md-code-hl-keyword-color: #f29b46;
}

/* Maximum space for text block */
.md-grid {
  max-width: 90%;
}